body {
    margin: 0;
}

.container {
    width: 1152px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-around;
    background: #F5F5F6;
    padding: 15px 0 12px;
}

.logo {
    width: 89px;
    height: 23px;
}

nav {
    padding: 5px 0;
}

nav a {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.06em;
    color: #959BA4;
    text-decoration: none;
    padding: 5px;
    margin: 0 15px 0 0;
}

nav a:hover {
    background: #833AE0;
    color: white;
}

.goProfile {
    width: 58px;
    height: 33px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
}

main {
    width: 50%;
    margin: auto;
}

main h1 {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.convert {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.infotext {
    display: block;
    height: 28px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    color: #9F9F9F;
}

.chooseCurrency {
    display: flex;
}

.chooseCurrency input, .chooseCurrency select {
    width: 52px;
    height: 30px;
    background: #fff;
    color: #C6C6C6;
    border: 1px solid #E5E5E5;
    border-radius: 3px 0px 0px 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    text-align: center;
}

.chooseCurrency select {
    height: 34px;
}

.chooseCurrency select option {
    background: white;
    color: black;
}

.pushConver {
    width: 259px;
    height: 102px;
    padding: 11px 14px;
    margin-top: 20px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
}

#numberConverAdd, #numberConverShow {
    width: 240px;
    border: none;
    height: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    margin-bottom: 20px;
}

.swap {
    cursor: pointer;
}

.multiCurrency {
    position: absolute;
    display: none;
    width: 729px;
    height: 314px;
    border: 1px solid red;
}

.ativebutton {
    background: #833AE0 !important;
    color: #fff !important;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}